<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509772241177-1hqduap6f2vfvb2bd7ituthp2ohl9a3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509772241177-1hqduap6f2vfvb2bd7ituthp2ohl9a3a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>509772241177-u4qdej026grkvk22flcso44r05lm2p06.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgYG4vrXdy8O2lDacQZ_9DcmI8eZH2Dtw</string>
	<key>GCM_SENDER_ID</key>
	<string>509772241177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studiousApp</string>
	<key>PROJECT_ID</key>
	<string>studiousapp-b71d7</string>
	<key>STORAGE_BUCKET</key>
	<string>studiousapp-b71d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509772241177:ios:c587d5ba474a6be1ea4d88</string>
</dict>
</plist>